# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Logs & Models
logs/
models/*.zip
models/*.pth
crash.txt
heatmap.html


# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# bin
PvZ_Toolkit_v1.22.0
v5ProcessManager
gameobj

