# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Logs & Models
logs/
models/*.zip
models/*.pth
models/*.pt
models/*.pkl
crash.txt
heatmap.html
models_output/*
saved/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# bin
PvZ_Toolkit_v1.22.0
v5ProcessManager
gameobj

# build
build/

# references
ref/

paper/